$mi-negro: #282828;
$cool-green: #01e0b1;
$ancho: 100px;


@import "./animation";

@mixin mi-letra {
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;
    text-align: left;
}

div {
    @if $mi-negro == negro {
        color: #282828;
    }
}

*{
    padding: 0;
    margin: 0;
}
body{
    background-color:$mi-negro;
    text-align: center;
}
article{
    text-align: center;
}

a:visited{
    color: #eeeeee;
}
a:link{
    text-decoration: none;
    color: #eeeeee;
}
a:hover{
    color: #ffffff;
}

p{
    color: #e0e0e0;
    font-size: ($ancho)-80;
    margin-bottom: 0;
    font-family: 'Roboto';
}

.fondo-dropdown{
    background-color: black;
}
/*------PRESENTACION------------------------------------------------------------------------------*/

    #grid{
        display: grid;
        grid-template-columns: 12.5% 30% 5% 40% 12.5%;
        grid-template-rows: 90px 90px 90px 90px 125px;
        grid-template-areas:
          "espacio-1 item-1 espacio-2 none espacio-3"
          "espacio-1 item-1 espacio-2 item-2 espacio-3"
          "espacio-1 item-1 espacio-2 item-3 espacio-3"
          "espacio-1 item-1 espacio-2 item-4 espacio-3"
          "espacio-1 item-1 espacio-2 item-5 espacio-3";
        
      }
      .none{
          background-color:$mi-negro;
      }
      .espacio-1{
        background-color: $mi-negro;
        grid-area: espacio-1
      }
      .espacio-2{
        background-color: $mi-negro;
        grid-area: espacio-2
      }
      .espacio-3{
        background-color: $mi-negro;
        grid-area: espacio-3
      }
      .item-1{
        background-color: $mi-negro;
        grid-area: item-1;
      }
      .item-2{
        background-color: $mi-negro;
        grid-area: item-2;
        @include mi-letra;
      }
      .item-3{
        background-color: $mi-negro;
        grid-area: item-3;
        @include mi-letra;
      }
      .item-4{
        background-color: $mi-negro;
        grid-area: item-4;
        @include mi-letra;
      }
      .item-5{
        background-color:$mi-negro;
        grid-area: item-5;
        font-family: 'Roboto', sans-serif;
        color: #ba49a1;
        text-align: left;
      }
h1{
    font-size: 70px;
}
h2{
    font-size: 35px;
}
/*------CLICK------------------------------------------------------------------------------*/
.estilo-letra{
    color: #039a8b;
    text-align: left;
}
.estilo-letra-2{
    color: #01c2b1;
    text-align: left;
    font-size: 30px;
}
.click{
    background-color: whitesmoke;
    width: 100%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.flecha{
    padding-top: 2%;
    padding-bottom: 3%;
}
/*------CARDS------------------------------------------------------------------------------*/
.caja-cards{
    background-color: $mi-negro;
    width: 100%;
    padding: 5% 8% 5% 8%;
    }
.estilo-letra-3{
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    color: whitesmoke;
}

.cards img{
    transition-duration: 0.2s;
}
.cards img:hover{
    transform: scale(1.09);
}

.linea-2{
    width: 100%;
    height: 250px;
    background-color: #01c2b1;
}
.estilo-letra-4{
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    color: white;
}

.btn-contacto{
    background-color: #1a1a1a;;
    width: fit-content;
    border: #1a1a1a solid 20px;
    margin: auto;
    font-size: 25px;
    margin-top: 60px;
    margin-bottom: 60px;
}
#contenedor-final{
    width: 100%;
    height: 450px;
    padding-top: 100px;
    background: linear-gradient(to top, $cool-green, #49f4e4);
    font-family: Arial, Helvetica, sans-serif;
}
/*------ANIMACION------------------------------------------------------------------------------*/
.titulos{
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    padding-top:  3%;
    
}

/*------IMG------------------------------------------------------------------------------*/
#galeria-imagenes{
    padding-bottom: 170px;
    img{
        transition-duration: 0.2s;
    }
    img:hover{
        transform: scale(1.04);
    }
}
/*-----FORM-------------------------------------------------------------------------------*/
.caja-formulario{
    padding: 50px 200px 100px 200px;
}
#formulario{
    padding: 30px;
}
.boton{
    padding-top: $ancho;
    padding-bottom: 0px;
}
/*-----BIO-------------------------------------------------------------------------------*/
#foto{
    width: 25%;
    margin: 0 auto;
}
.p-2{
    font-family: 'Roboto', sans-serif;
    padding-top: 2%;
    padding-bottom: 3%;
    text-align: justify;

}
/*---DIVS---------------------------------------------------------------------------------*/
.fondo-negro{
    background-color: $mi-negro;
}
.fondo-blanco{
    background-color: whitesmoke;
    width: 100%;
    height: $ancho/2;
}