*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #282828;
    text-align: center;
}
article{
    text-align: center;
}

a:visited{
    color: #eeeeee;
}
a:link{
    text-decoration: none;
    color: #eeeeee;
}
a:hover{
    color: #ffffff;
}

p{
    color: #e0e0e0;
    font-size: 20px;
    margin-bottom: 0;
    font-family: 'Roboto';
}

.fondo-dropdown{
    background-color: black;
}
/*------PRESENTACION------------------------------------------------------------------------------*/

    #grid{
        display: grid;
        grid-template-columns: 12.5% 30% 5% 40% 12.5%;
        grid-template-rows: 90px 90px 90px 90px 125px;
        grid-template-areas:
          "espacio-1 item-1 espacio-2 none espacio-3"
          "espacio-1 item-1 espacio-2 item-2 espacio-3"
          "espacio-1 item-1 espacio-2 item-3 espacio-3"
          "espacio-1 item-1 espacio-2 item-4 espacio-3"
          "espacio-1 item-1 espacio-2 item-5 espacio-3";
        
      }
      .none{
          background-color: #282828;
      }
      .espacio-1{
        background-color: #282828;
        grid-area: espacio-1
      }
      .espacio-2{
        background-color: #282828;
        grid-area: espacio-2
      }
      .espacio-3{
        background-color: #282828;
        grid-area: espacio-3
      }
      .item-1{
        background-color: #282828;
        grid-area: item-1;
      }
      .item-2{
        background-color: #282828;
        grid-area: item-2;
        font-family: 'Roboto', sans-serif;
        color: whitesmoke;
        text-align: left;
      }
      .item-3{
        background-color: #282828;
        grid-area: item-3;
        font-family: 'Roboto', sans-serif;
        color: whitesmoke;
        text-align: left;
      }
      .item-4{
        background-color: #282828;
        grid-area: item-4;
        font-family: 'Roboto', sans-serif;
        color: whitesmoke;
        text-align: left;
      }
      .item-5{
        background-color: #282828;
        grid-area: item-5;
        font-family: 'Roboto', sans-serif;
        color: #ba49a1;
        text-align: left;
      }
h1{
    font-size: 70px;
}
h2{
    font-size: 35px;
}

/*------CLICK------------------------------------------------------------------------------*/

.estilo-letra{
    color: #039a8b;
    text-align: left;
}
.estilo-letra-2{
    color: #01c2b1;
    text-align: left;
    font-size: 30px;
}
.click{
    background-color: whitesmoke;
    width: 100%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.flecha{
    padding-top: 2%;
    padding-bottom: 3%;
}

/*------CARDS------------------------------------------------------------------------------*/


.caja-cards{
    background-color: #282828;
    width: 100%;
    padding: 5% 8% 5% 8%;
    }
.estilo-letra-3{
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    color: whitesmoke;
}

.cards img{
    transition-duration: 0.2s;
}
.cards img:hover{
    transform: scale(1.09);
}

.linea-2{
    width: 100%;
    height: 250px;
    background-color: #01c2b1;
}
.estilo-letra-4{
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    color: white;
}

.btn-contacto{
    background-color: #1a1a1a;;
    width: fit-content;
    border: #1a1a1a solid 20px;
    margin: auto;
    font-size: 25px;
    margin-top: 60px;
    margin-bottom: 60px;
}
#contenedor-final{
    width: 100%;
    height: 450px;
    padding-top: 100px;
    background: linear-gradient(to top, #01e0b1, #49f4e4);
    font-family: Arial, Helvetica, sans-serif;
}

/*------ANIMACION------------------------------------------------------------------------------*/
.titulos{
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    padding-top:  3%;
    
}

#galeria-videos{
    padding-bottom: 150px;
}
#galeria-videos img{
    
    transition-duration: 0.2s;
}
#galeria-videos img:hover{
    transform: scale(1.04);
}
.caja-videos {
    background-color: #282828;
    width: 100%;
    padding: 2% 2% 5% 2%;
}
.estilo-letra-5{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: whitesmoke;
}
.espaciado{
    padding: 4%;
}

/*------IMG------------------------------------------------------------------------------*/

#galeria-imagenes{
    padding-bottom: 170px;
}

#galeria-imagenes img:hover{
    transform: scale(1.04);
}
#galeria-imagenes img{
    transition-duration: 0.2s;
}
    

/*-----FORM-------------------------------------------------------------------------------*/

.caja-formulario{
    padding: 50px 200px 100px 200px;
}
#formulario{
    padding: 30px;
}
.boton{
    padding-top: 100px;
    padding-bottom: 0px;
}

/*-----BIO-------------------------------------------------------------------------------*/


#foto{
    width: 25%;
    margin: 0 auto;
}

.p-2{
    font-family: 'Roboto', sans-serif;
    padding-top: 2%;
    padding-bottom: 3%;
    text-align: justify;

}

/*---DIVS---------------------------------------------------------------------------------*/
.fondo-negro{
    background-color: #282828;
}
.fondo-blanco{
    background-color: whitesmoke;
    width: 100%;
    height: 50px;
}